<h1><%= @category.name %></h1>

<%= "#{@c1.name} - " %>
<% valid_vote = { character_id: @c1.id, 
                  contest_id: @category.contest, 
                  battle_id: @battle.id, 
                  ip: "127.0.0.1", 
                  user_id: Random.rand(10...10*100) } %>
                  
<%= link_to "votar", votes_path( vote: valid_vote ), :method => 'post', class: "create_vote" %>

<div> vs </div> 

<% valid_vote[:character_id] = @c2.id %>

<%= "#{@c2.name} - " %>
<%= link_to "votar", votes_path( vote: valid_vote ), :method => 'post', class: "create_vote" %>

<br><br>
<div>
  <%= link_to 'Next Battle', contest_path(@category.id) %> <br>
  <%= link_to 'Check battles', battles_path %>
</div>