<h1><%= @category.name %></h1>

<% valid_vote = { character_id: @c1.id, 
                  contest_id: @category.contest, 
                  battle_id: @battle.id, 
                  ip: "127.0.0.1", 
                  user_id: Random.rand(10...10*100) } %>

<b><%= @c1.name %></b> -                   
<%= link_to "votar", votes_path( vote: valid_vote ), :method => 'post', class: "create_vote" %><br>
Number of votes: <%= @battle.votes_contester1  %><br>

<br><div> vs </div><br>
<% valid_vote[:character_id] = @c2.id %>

<b><%= @c2.name %></b> -                   
<%= link_to "votar", votes_path( vote: valid_vote ), :method => 'post', class: "create_vote" %><br>
Number of votes: <%= @battle.votes_contester2  %>

<br><br><br>
<b>Actual Winner</b>: <%= @battle.winner %>
<br><br>

<div>
  <%= link_to 'Next Battle', contest_path(@category.id) %> <br>
  <%= link_to 'Check battles', battles_path %>
</div>