<h1><%= @category.name %></h1>

<% @valid_vote[:character_id] = @c1.id %>

<span class="characters-box">
  <section class="character1-box">
    <b><%= @c1.name %></b> -
    <%= link_to "votar", votes_path( vote: @valid_vote ), :method => 'post', class: "create_vote" %><br>
    <%= image_tag @c1.image.url(:medium) %><br>
    Number of votes: <%= @battle.votes_contester1  %><br>
  </section>

  <section class="vs-box"> vs </section>

  <% @valid_vote[:character_id] = @c2.id %>

  <section class="character2-box">
    <b><%= @c2.name %></b> -                   
    <%= link_to "votar", votes_path( vote: @valid_vote ), :method => 'post', class: "create_vote" %><br>
    <%= image_tag @c2.image.url(:medium) %><br>
    Number of votes: <%= @battle.votes_contester2  %><br>
  </section>
</span>

<section class="actual-results-box">
  <b>Actual Winner</b>: <%= @battle.winner %><br>l

  <%= link_to 'Next Battle', contest_path(@category.id) %> <br>
  <%= link_to 'Check battles', battles_path %>
</section>